<<<<<<< HEAD
body {
	background-color:#FCF9EA;
}
/*Carousel*/
.carousel-caption h4 {
  font-size: 2.4em;
}
@media (max-width:767px) {
  .carousel-caption h4 {
	  font-size:2em;
  }
}
=======
.navbar {
  margin-bottom: 0;
}
.carousel-caption h4 {
  font-size: 2.4em;
}
>>>>>>> 565e726aeda2bd8393a2524769ec991f58870f3e
.carousel-caption p {
  font-size: 1em;
  color: #E5C234;
}
.carousel-caption h4,
.carousel-caption p {
  text-transform: uppercase;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
<<<<<<< HEAD
=======
  /*rgba(198, 212, 225, 0.3);*/
>>>>>>> 565e726aeda2bd8393a2524769ec991f58870f3e
  left: 0;
  right: 0;
  bottom: 0;
}
.carousel-indicators {
  bottom: 0;
}
<<<<<<< HEAD
@media (max-width: 991px) {
.carousel-control {
	display:none;
  }	
}
=======
.navbar-default {
  background: rgba(229, 194, 52, 0.1);
  /*#C6D4E1;*/
  border-color: transparent;
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #783E3A;
}
/*CSS Carousel*/
>>>>>>> 565e726aeda2bd8393a2524769ec991f58870f3e
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
<<<<<<< HEAD
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
	min-height:200px;
}
/*end Carousel*/

/*Navbar*/
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background: rgba(229, 194, 52, 0.1);
  border-color: transparent;
  border-radius: 0;
  border-bottom:1px solid #333;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #783E3A;
}
.navbar-default .navbar-toggle:hover {
	background-color:rgba(250, 207, 80, 1);
}
.navbar-default .navbar-toggle {
	border-color:rgba(250, 207, 80, 1);
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:rgba(255, 128, 1, 1);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color:rgba(244, 228, 154, 1);
	border-color:rgba(250, 207, 80, 0.3);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color:rgba(244, 228, 154, 1);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color:rgba(250, 207, 80, 0.3);
}
.dropdown-menu .divider {
	background-color:rgba(250, 207, 80, 0.3);
	margin:5px 0;
}
.form-group {
	display:inline-block;
}
.form-control {
	width:250px;
	border:1px solid rgba(250, 207, 80, 1);
}
.form-control:focus {
	border-color:rgba(250, 207, 80, 1);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(250, 207, 80, 0.6);
}
.btn-default {
	border-color:rgba(250, 207, 80, 1);
	background-color:#FCF9EA;
}
.btn-default:hover {
	border-color:rgba(250, 207, 80, 0.3);
	background-color:rgba(244, 228, 154, 1);
	color: #783E3A;
}
.btn-default.focus, .btn-default:focus {
	border-color:rgba(250, 207, 80, 0.3);
	background-color:rgba(244, 228, 154, 1);
}
.btn.btn-default {
	vertical-align:top;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	background-color:rgba(244, 228, 154, 1);
} 
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
	background-color:rgba(244, 228, 154, 1);
	border-color:rgba(250, 207, 80, 1);
	color:#783e3a;
}
@media (min-width: 768px) and (max-width: 912px) {
  .navbar-right {
    display: none;
  }
}
/*end Navbar*/

=======
/*end CSS Carousel*/
>>>>>>> 565e726aeda2bd8393a2524769ec991f58870f3e
